#solar-canvas-container {
  z-index: 0;
  width: 300px;

  height: 300px;

  position: absolute;
  top: 0;
  right: 15%;
  bottom: 0;
  left: auto;
  margin: auto;
  background-color: rgb(0, 0, 0);
  opacity: 90%;
  border-radius: 9%;
  text-align: center;
  align-content: center;
  // display: flex;
  // flex-direction: column;
  a {
    color: gold;
  }
}
