#solar-canvas-container {
  z-index: -5;
  width: 40rem;
  height: 40rem;
  position: absolute;
  top: 0;
  right: 15%;
  bottom: 0;
  left: auto;
  margin: auto;
  opacity: 90%;
  border-radius: 9%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  animation: fadeIn 1s 1.8s backwards;
  .portfolio-cv {
    display: flex;
    justify-items: center;
    justify-content: space-around;
  }
  .flat-button {
    color: #ffd700;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 4px;
    font-family: sans-serif;
    text-decoration: none;
    padding: 10px 18px;
    border: 1px solid #ffd700;
    margin-top: 25px;
    animation: fadeIn 1s 1.8s backwards;
    &:hover {
      background-color: #ffd700;
      color: #333;
    }
  }
  a {
    color: gold;
    text-decoration: none;
  }
}
